@import 'base';

.clr:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1}

body{
	font-family: PingFangSC-Regular;
	font-size: .28rem;
	margin:0 auto;
	background-color: #fff;
}

section{
	width: 100%;
	padding: 1.2rem 0 .8rem;

	img{
		display: block;
		width: 1.6rem;
		margin: 0 auto;
	}

	h2{
		color: #191919;
		font-size: .4rem;
		font-weight: normal;
		height: .4rem;
		line-height: .4rem;
		text-align: center;
		margin-top: .3rem;
	}

	p{
		color: #807E7D;
		font-size: .36rem;
		height: .36rem;
		line-height: .36rem;
		text-align: center;
		margin-top: .16rem;
	}
}

article{
	width: 6.3rem;
	margin: 0 auto;
	padding-bottom: .2rem;
	//border-bottom: 2px solid #E6E6E6;
	color: #191919;
	line-height: .44rem;

	p{
		margin-bottom: .2rem;
	}
}

footer{
	padding: .8rem 0;
	color: #191919;
	line-height: .52rem;
	text-align: center;
}

