html,body{overflow-x:hidden; background:#fff}
.main img{ width:100%;}

/*头部导航*/
.header{ background:#fff; width:100%;height:43px; position:relative;position:fixed; top:0; bottom:0;z-index:999;max-width: 640px; border-bottom:1px solid #eee}
.header h1{white-space: nowrap; text-align:center;overflow: hidden;text-overflow: ellipsis;margin-left:50px; line-height:43px; color:#000; font-size:15px; font-weight:normal;}
.header-logo{display: block; width:189px; margin:0 auto; height:28px; padding:8px 0;}
.header-logo img{ height:28px;}
.header .bar-btn{display: block; width:26px; padding:5px 10px;position:absolute;left:0px; top:0px;}
.header-fixed{  z-index:13;background:#fff; border-bottom:none;}
.header.header-fixed h1{ text-align:left; margin-left:50px;}
.header-title{ padding:5px 10px;position:absolute;left:0px; top:0px; line-height:26px; font-size:16px;}
.menu-list{display: -webkit-box;display: -webkit-flex;display: flex; margin-left:41px;}
.menu-list li{height: 41px;line-height: 15px;-webkit-box:1; flex:1;-webkit-flex:1; padding:13px 0;}
.menu-list li a{font-size:13px;color: #505050; width:100%;/*padding:0 12px;*/text-align: center;display: block;overflow: hidden;border-right: 1px solid #505050;}
.menu-list li:last-child a{border-right:none;}
.mask-line{ width: 40px;height: 44px;line-height: 44px;position: absolute;z-index: 5;left: 0;top: 0;text-align: center;color: #c42f43;}
.mask-line:after {content: '\f0c9';font-family: 'FontAwesome';font-size: 20px;width: 30px;height: 30px; font-weight:bold; position:absolute; left:4px; top:0;}

.bar-list-fixed .mask-line{ width: 0px;line-height:38px;height: 38px; background:#fff; position: absolute;z-index: 5;right: 0;top:0px;text-align: center;color:#c42f43;}
.bar-list-fixed .mask-line.fold:after{content: '\f104';font-family: 'FontAwesome';font-size: 30px;width: 40px;height: 38px;font-weight:bold;vertical-align: -5px;}
.bar-list-fixed .home-icon{line-height:38px; display: block;color:#c42f43;font-size:12px; font-weight:bold; margin-left:50px;}

.blur{-webkit-filter: blur(3px); filter: blur(3px);}
.bar-list-mask{position:fixed; top:0; bottom:0;  width:100%; background:rgba(255,255,255,.4); z-index:1002; display:none;}
.bar-list-fixed{position:fixed; top:0;  left:0; bottom:0;  width:50%; border-right:1px solid #b7b7b7; background:#fff; z-index:1002;padding-bottom:10px; -webkit-transform: translate3d(-100%,0,0); }
.bar-list-box{position:absolute;top:38px; left:14px; right:14px;  bottom:0;margin-bottom:10px; overflow-y:auto;}
.bar-list-box::-webkit-scrollbar{ display:none;}
.bar-list{ position:relative; border-bottom:1px solid #dadada; box-sizing:border-box;}
.bar-list>li{ line-height:34px; border-top:1px solid #dadada; background:url(../images/arrow-r-icon.png) no-repeat right 13px; background-size:10px auto;}
.bar-list>li i{ display:inline-block; width:20px; vertical-align:-4px; margin-right:15px;}
.bar-list>li>a{display: block;color:#4c515f;font-size:12px; white-space:nowrap;overflow: hidden;}
.bar-list>li>a.gray{ color:#808080}
.bar-list>li>a.list-level2{ margin-left:35px; line-height:16px; margin-bottom:10px; color:#999}
.sub-list{ display:none;}
.sub-list>li{line-height:30px;}
.sub-list>li>a{color:#808080;font-size:12px;}
.bar-list li.cur a{ color:#000; font-weight:bold;}

.search-menu{background: #c42f43; width:100%;position: fixed; top:44px; height:40px; z-index:99; max-width:640px;}
.search-form {overflow: hidden; float:left;background: #fff; position:relative; width:76%; height:24px;padding-left:2px;padding-right: 40px;box-sizing: border-box; border:none; border-radius:20px;margin:8px 0 8px 7%;}
.search-input {border: 0;background: transparent;width: 100%;color:#787878;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-size: 12px;line-height: 16px; padding:4px 10px; outline:none; }
.search-btn {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);background: url(../images/search-icon.png) no-repeat 50% 50%;display: block;width: 38px;height: 24px;background-size: 16px;position: absolute;right: 0;top: 0;}

.lang-btn{ display:block; float:left; line-height:24px; margin-left:0; padding:0 15px; margin-top:8px; color:#fff}

@-webkit-keyframes slideInRight {
    0% {-webkit-transform: translate3d(-100%,0,0);transform: translate3d(-100%,0,0)}
    100% {-webkit-transform: translate3d(0%,0,0);transform: translate3d(0%,0,0)}
}
.slideInRight {-webkit-animation: slideInRight .6s forwards;}

@-webkit-keyframes slideOutRight {
    0% {-webkit-transform: translate3d(0%,0,0);transform: translate3d(0%,0,0)}
    100% {-webkit-transform: translate3d(-100%,0,0);transform: translate3d(-100%,0,0)}
}

.slideOutRight {-webkit-animation: slideOutRight .6s forwards;}

@-webkit-keyframes leftRightMove{
	0%{-webkit-transform:translateX(-5px); transform:translateX(-5px); }
	50%{-webkit-transform:translateX(5px);transform:translateX(5px);color:#14a6ed;}
	100%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
}
@keyframes leftRightMove{
	0%{-webkit-transform:translateX(-5px); transform:translateX(-5px)}
	50%{-webkit-transform:translateX(5px);transform:translateX(5px);color:#f00;}
	100%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
}


/*轮播图*/
.swiper-container.slider{ box-sizing:border-box;}
.swiper-container.slider .swiper-slide{box-sizing:border-box;}
.swiper-container.slider .swiper-slide span{ display:block; font-size:14px; padding-bottom:15px; text-align:center;}
.swiper-container.slider .swiper-slide a{ display:block;}
.swiper-container.slider .swiper-pagination{  left:auto; bottom:68px; right:5px; width: auto;padding:0 5px;}
.swiper-container.slider .swiper-pagination-bullet{background:rgba(255,255,255,0); border:1px solid #fff; border-radius:50%;margin: 4px 2px;opacity:1;vertical-align: 1px; display:block; float:left;}
.swiper-container.slider .swiper-pagination-bullet-active{background: #fff;}

.home-about-box{ display:block;color:#333; padding:6px; background:rgba(255,255,255,.75); position:absolute; bottom:-1px; z-index:99}
.home-about-box h3{ font-size:20px; border-bottom:1px dashed #767575; color:#333; line-height:40px; margin-bottom:10px; padding-bottom:5px;}
.home-about-box img{ float:left; width:50px;}
.home-about-box p{ line-height:17px;font-size:12px; margin-left:56px; color:#474747;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: break-all;}

.home-menu{ border-top:5px solid #f4f4f4;border-bottom:5px solid #f4f4f4;}
.home-menu li{ width:25%; float:left;}

/*底部*/
footer {height:46px;background:url(../images/footer_bg.jpg) repeat-x 0 0; background-size:54px 46px; z-index:2;position: relative; border-top:1px solid #fff;}
footer .copyright{ text-align:center; line-height:16px; font-size:12px; color:#717171; padding:7px 0;}

.sub-title{ font-weight:normal; line-height:20px; font-size:11px; color:#bbb; margin-top:-26px; margin-right:10px; margin-left:38px;overflow:hidden; white-space:nowrap;text-overflow: ellipsis;}

/*提示层*/
#popup_overlay{width: 100%; height:100%;background: rgba(0, 0, 0,0.4);position: fixed; top:0; left:0; z-index: 998;display:none;}
#popup_container{width:300px;background:rgba(0,0,0,.7);border-radius:10px;position:fixed;left:50%;top:40%; margin-left:-150px;z-index:999;display:none; }
#popup_message {padding:10px;font-size: 14px;color:#fff;text-align:center;line-height:40px;}


.download-pop{ display:none; position:fixed; width:280px; height:170px; margin-left:-150px;  left:50%; top:30%; z-index:999; background:#fff; background-size:55px auto; border-radius:5px; border:1px solid #ddd; padding:15px 10px; box-shadow:0 0 10px rgba(0,0,0,.3)}
.download-pop>img{ width:60px; margin:15px auto;}
.download-pop>h3{ font-size:14px;  line-height:20px; color:#14a6ed; text-align:center;}
.download-pop .js-close-btn{ display:block; position:absolute; right:5px; top:5px; width:30px; padding:5px;}
.download-pop { margin-top:10px}
.download-pop  .form-group{position: relative;margin:10px 15px 0;}
.download-pop  .form-control {display: block; box-sizing:border-box;width: 100%; padding:8px 12px 8px 50px;font-size: 13px;line-height: 18px;color:#545454;background: #fff;border:1px solid #c9c9c9;}
.download-pop  .form-title h3{text-align:center; margin-bottom:10px}
.download-pop  .form-group>label{ position:absolute;top: 0;font-weight:bold;left:12px;color:#545454;font-size:13px; line-height:36px}
.download-pop  .form-group .error_tip{position: absolute;right: 5px;top: 0px;}
.download-pop  .form-group .error_tip>label{ display:block;font-size:12px; color:#f00; line-height:34px}
.download-pop  .form-group .btn-submit{display:block; width:50%;margin:10px auto 0; background:#14a6ed;  font-size:14px; line-height:30px; color:#fff;text-align:center;}

.sub-content{ min-height:400px;}
.sub-content>h2{ clear:none; font-size:44px; text-align:center;color:#000;  padding:5% 0;}
.sub-content .city-title{ margin-bottom:10px; font-size:18px; color:#000; margin:0 5%}
.sub-content>h2>span{ color:#b82a42;}

.news-list{ margin:0 3%;}
.news-list li{ font-size:12px; line-height:40px; position:relative; border-top:1px dashed #d3d3d3;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-right:65px;}
.news-list li:last-child{ border-bottom:1px dashed #d3d3d3;}
.news-list li a{ color:#444;}
.news-list i{ display:inline-block; width:14px; vertical-align:-2px; margin-right:6px; margin-left:5px;}
.news-list time{ position:absolute; right:2px;top:10px; line-height:20px; font-size:10px; color:#666}


.sub-menu-list{ margin:3% 3% 8%;}
.sub-menu-list li{ font-size:14px; line-height:50px; position:relative; border-top:1px solid #e1e1e1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-right:65px; padding:0 5%}
.sub-menu-list li:last-child{ border-bottom:1px solid #e1e1e1;}
.sub-menu-list li a{ color:#444; display:block}
.sub-menu-list i{ display:inline-block; width:14px; vertical-align:-2px; margin-right:6px; margin-left:5px;}
.sub-menu-list em{position:absolute; right:5%;top:17px; line-height:20px; width:13px;}

.detail-title{ text-align:center;margin:4%; font-size:16px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; }
.detail-box{ margin:0 4% 5%;}
.detail-box p{ color:#7a7a7a; font-size:12px; line-height:22px; margin-top:2%}
.detail-box h5{ font-size:12px; color:#c41f3b;margin-top:2%}

.honor-list{ margin-bottom: 20px; }
.honor-list>li{ float:left; margin:10px 0 0; width:50%;  box-sizing: border-box; overflow:hidden;}
.honor-list>li a{ display:block; }
.honor-list>li span{display:block; line-height:20px; font-size:11px; border:1px dashed #b82a42; border-radius:5px; padding:5px 7px;    margin: 5px 5px 0;}

.event-content .tab-menu {width:100%;position: relative;margin:4% 0;}
.event-content .tab-menu li {width:22%; float:left;padding:0 5px;line-height: 30px;position: relative; box-sizing:border-box; }
.event-content .tab-menu li:first-child{ width:12%}
.event-content .tab-menu li span { display:block;font-size: 13px; color:#000; font-weight:bold;text-align:center; }
.event-content .tab-menu li.curr span{ color: #b82a42;}
.event-content .tab-menu li em{ position:absolute; width:1px; height:16px; background:#3a3a3a;right:0;top:7px}
.event-content .content-list{margin:0 4% 5%;}
.event-content p{ color:#7a7a7a; font-size:12px; line-height:22px; margin-top:2%}
.event-content h5{ font-size:12px; color:#c41f3b;margin-top:2%}

.team-content{ width:100%; }
.team-content .tab-menu{ width:100%;position: relative;margin:4% 0;}
.team-content .tab-menu li{ width:18%; float:left;padding:0 5px;line-height: 30px;position: relative; box-sizing:border-box;  }
.team-content .tab-menu li:nth-child(2){ width:28%}
.team-content .tab-menu li span{ display:block;font-size: 13px; color:#000; font-weight:bold;text-align:center;}
.team-content .tab-menu li.curr span{ color: #b82a42;}
.team-content .tab-menu li em{ position:absolute; width:1px; height:16px; background:#3a3a3a;right:0;top:7px}

.team-list{padding-bottom:0}
.team-list li{ float:left; width:33.3%; box-sizing:border-box; padding:5% 4%; border-bottom:1px solid #dac2bf; cursor:pointer}
.team-list li a{ display:block;}
.team-list li span{ display:block; text-align:center; margin-top:12px; font-size:14px; color:#000000;}
.team-detail{ padding:4% 0%;border-bottom:1px dashed #b82a42; margin-bottom:4%}
.team-detail .avatar{ float:left; width:90px; margin-right:6%}
.team-detail h3{ color:#000; font-size:14px;line-height:30px;  margin-top:8px; position:relative;}
.team-detail h3 strong{ display:inline-block; color:#b61b35; font-size:12px;line-height:16px;position:relative;}
.team-detail p{ margin-top:2%; font-size:13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.team-search-box{width:90%;margin:0 auto 5%;}
.team-search-box>h3{ margin-bottom:10px; font-size:18px; color:#000}
.team-search-box .team-search-input{width:94%;margin:0 auto 4%;}
.team-search-box .team-search-input input{ width:100%; box-sizing:border-box; border:1px solid #ccc; background:#fff; color:#444; line-height:18px; padding:8px 5px; font-size:13px;}
.team-search-box .team-search-btn{width:94%;margin:0 auto; display:block; border:1px solid #a73147;color:#a73147; text-align:center; line-height:36px;font-size:14px; cursor:pointer}
.team-search-input .select {width:100%;line-height: 18px;color:#888;padding:8px 5px; font-size:13px;border:1px solid #ccc;background: url(../images/dd.png) #fff no-repeat 95% center;background-size: 10px auto; text-align:left;}


.waterfull{margin: 10px auto 0; width:100%; padding:0 5px 15px; box-sizing:border-box;}
.waterfull ul li{float: left;width: 50%;margin-bottom: 10px;position: relative;overflow: hidden;padding:0 5px; box-sizing:border-box;}
.waterfull ul li .a-img{width: 100%;display: block;position: relative;}
.waterfull ul li .a-img img{width: 100%;display: block;}
.waterfull ul li .li-title{padding: 5px 0; font-size:14px;overflow: hidden;line-height: 24px;color: #1b1b1b;font-weight:normal;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.waterfull ul li .description{padding: 5px 0 10px;overflow: hidden;line-height: 22px;color: #898686;font-size:12px;border-bottom: solid 1px #DBDBDB;}
.waterfull ul li .description>a{ display:inline-block;color:#b82a42; margin-left:10px;}
.waterfull ul li .qianm{background: #fff;}
.waterfull ul li .qianm .sp1{float: left;height: 30px;line-height: 36px;color: #898686;}
.waterfull ul li em{ font-style:normal; color:#b82a42; display:block;font-size:12px;}
.waterfull ul li em img{ margin-right:10px;display:inline-block;width: 12px;}

.contact-box{margin: 0 5% 5%;padding: 0 0 5%;border-bottom:1px dashed #b82a42;}
.contact-box h5{ font-size:14px; color:#c41f3b;margin-top:2%}
.contact-box .map-info{ width:100%;font-size:16px; line-height:30px;}
.contact-box .map-info li{line-height:30px; font-size:13px;color:#474747;}
.contact-box .map-info li i{ display:inline-block; vertical-align:-2px; margin-right:7px; width:14px}
.contact-box .map-info li em{ color:#424242; font-style:normal; display:inline-block; width:42px;}
.contact-box .map-info li span{ display:inline-block;color:#424242;}

.map-box{ margin:5% 0}
.map-con{width:100%;height:160px;}

.recruit-box{}
.recruit-list{ border-bottom:1px solid #d29191; padding:12px 0; margin:0 4%}
.recruit-left{ width:100%; font-size:12px; line-height:20px;}
.recruit-left>strong{ font-weight:normal; color:#b82a42; display:block; line-height:24px;}
.recruit-left>p{ margin-top:3%;}
.recruit-right{width:100%; padding-top:3%;font-size:12px; line-height:20px; }