<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>加密</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>视频切片加密(HLS + NodeJS + FFmpeg) —— 视频加密</h1>
        <div><br><br><label for="watermark"><input id="watermark" type="checkbox" value="">  添加水印 </label><br><br></div>
        <input id="encrypt-btn" type="button" class="button blue" value="加密视频">
        <input id="encrypt-success" type="button" class="button blue" value="继续">
        <!-- <input id="encrypt-data" type="hidden"
                <% if(data){ %>
            value="<%= JSON.stringify(data) %>"
                <% } %>
        > -->
        <div>
            <p id="encrypt-tip">视频加密日志输出</p>
            <pre id="encrypt-out" align="left"></pre>
        </div>
    </body>
    <script src="libs/jquery.min.js"></script>
    <script src="javascripts/utils.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/encrypt.js"></script>

</html>