<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0, shrink-to-fit=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title>空中院线</title>
  <script src="/libs/airpana.js"></script>
</head>
<body>
<div id="main" class="bg_gray" v-cloak :style="{'padding-top':showNav?'.91rem':'0'}">
   <header-nav v-if="showNav" title="空中院线" page-url="index.html"></header-nav>

   <section style="background-color:#000;" v-if="jsonArray.length || topData.image!=undefined">
    <div class="movie-head">
      <a :href="'movie-detail.html?tag='+topData.tag">
        <img v-lazy="baseUrl+topData.image" />
        <i></i>
        <!-- <p>空中院线正在热映:《{{topData.name}}》</p> -->
        <p>{{recommendTitle}}</p>
      </a>
    </div>
    <ul class="movie-list">
      <li v-for="(item,index) in jsonArray">
        <a :href="'movie-detail.html?tag='+item.tag" class="clearfix">
          <img v-lazy="baseUrl+item.image" />
          <div>
            <h3>{{item.name}}</h3>
            <p>{{item.content}}</p>
            <span>查看详情</span>
          </div>
          <p v-if="item.ad_sponsor && item.ad_sponsor.title && item.price==0" class="sponsor">
            <img v-lazy="baseUrl+item.ad_sponsor.image" />
            <span>{{item.ad_sponsor.title}}</span>
          </p>
        </a>
      </li>
    </ul>
     <p v-show="isLoad" class="updata_loading">
       <i></i>加载中...
     </p>
     <div class="notice">
       <h5>常见问题</h5>
       <article v-html="tips"></article>
     </div>
   </section>

   <section v-if="!isWaiting && topData.image==undefined && !jsonArray.length" class="no-data">网络不给力，请检查后重试哦~<br /><a href="javascript:void(0)" onclick="window.location.reload()">点击刷新</a></section>
    <!--加载中-->
    <!-- <loading v-if="isWaiting" :status="2"></loading> -->
    <!--执行toast弹出层-->
    <pop-layer v-if="isShow || show_msg" :is-show="isShow" :show_msg="show_msg"></pop-layer>
</div>
</body>
</html>