<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0, shrink-to-fit=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title>新人攻略</title>
  <script src="/libs/airpana.js"></script>
</head>
<body>
<div id="main" :style="{'padding-top':showNav?'.91rem':'0rem'}">
    <header-nav v-if="showNav" title="新人攻略" style="background:#fff;border-bottom:none"></header-nav>

    <div class="">
      <img src="../images/tmp/xinrengonglue1.jpg" alt="">
      <div class="step-info">
        <img src="../images/tmp/xinrengonglue2.jpg" alt="">
        <a :href="scoreExchangeUrl" @click="eventLog({eventId:'shoppingcard_topic_exchange',eventType:'1'})" class="exchange-btn">马上去兑换</a>
        <a href="javascript:void(0)" class="login-btn" @click="isLoginFun()">{{loginBtnText}}</a>
      </div>
      <img src="../images/tmp/xinrengonglue3.jpg" alt="">
      <img src="../images/tmp/xinrengonglue4.jpg" alt="">
    </div>
    
    <!--加载中-->
    <loading v-if="isWaiting" :status="2"></loading>
    <!--执行toast弹出层-->
    <pop-layer v-if="isShow || show_msg" :is-show="isShow" :show_msg="show_msg"></pop-layer>
  </div>
</div>
</body>
</html>