.clr:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1 }
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button{ opacity: 0; pointer-events: none; width: 5px; }
.fastAnimated { -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both }


/*loading*/
.loading-box{position:absolute;width:100%;height:100%;background: #ffba03;overflow:hidden;left:0;top:0;-webkit-transform-style:preserve-3d;z-index:999;}
.loading-box .load-img{width: 42%;position: absolute;left: 60%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);z-index: 4;}
.loading-box .loading-bar{background:#758086;height: 6px;padding: 0 2px;width: 50%;border: 1px solid #fff;box-shadow: 0 0 0 3px #758086;border-radius: 100px;overflow: hidden;position: absolute;left: 40%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);z-index: 2;}
.loading-box #progressbar {color:#23abf1;background:#f8bf4e;background:-webkit-linear-gradient(top,  #f7dd64 0%, #f3b814 50%,#e0b913 100%);width:1%;height: 6px;position: absolute;top: 0px;left: 0;right: 0;box-sizing: border-box;border-radius: 100px;}
.loading-box .play-btn{width: 30%;position: absolute;left: 27%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);z-index: 4; display:none}
.playAin{-webkit-animation: btnFlash 1s alternate infinite;animation: btnFlash 1s alternate infinite;}
@-webkit-keyframes btnFlash{
0% {transform: translate(-50%,-50%) scale(0.96,0.96) rotate(90deg);-webkit-transform: translate(-50%,-50%) scale(0.96,0.96) rotate(90deg);opacity:0.5;}
100% {transform: translate(-50%,-50%) scale(1,1) rotate(90deg);-webkit-transform: translate(-50%,-50%) scale(1,1) rotate(90deg);opacity:1;}
}

@-webkit-keyframes fadeInLeftBig1 { 
	0% {opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
	90% {opacity:1;}
	100% {opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0)}
}
.fadeInLeftBig1 { -webkit-animation: fadeInLeftBig1 0.3s forwards;animation: fadeInLeftBig1 0.3s forwards;}
@-webkit-keyframes fadeInRightBig1 { 
	0% {opacity:0;-webkit-transform:translate3d(150%, -50%, 0);transform:translate3d(150%, -50%, 0)}
	100% {opacity:1;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}
}
.fadeInRightBig1 {-webkit-animation: fadeInRightBig1 0.5s 1s forwards;animation: fadeInRightBig1 0.5s 1s forwards;}

.video-box{position: absolute; background-color:#000; width:100%;height:100%;left: 0;top: 0;overflow: hidden;z-index:9; display:none;}
.video-box .movieControl{position: absolute;top: 0;left: 0;width: 100%; height:100%;z-index: 9;object-fit: fill; z-index:1;}
.video-box .skip {position:fixed;width: 8%;left: 3%;bottom: 2%;z-index:999; display:none}  

@-webkit-keyframes eleScale{
	0%{-webkit-transform: translate3d(-50%,-50%,0) scale(1); transform: translate3d(-50%,-50%,0) scale(1);opacity: 1;}
	100%{-webkit-transform: translate3d(-50%,-50%,0) scale(1.5); transform: translate3d(-50%,-50%,0) scale(1.5);opacity: 1;}
}
.eleScale{-webkit-animation: eleScale 1s forwards;animation: eleScale 1s forwards;}
@-webkit-keyframes eleBlack{
	0%{-webkit-transform: translate3d(-50%,-50%,0) scale(1); transform: translate3d(-50%,-50%,0) scale(1); opacity:1}
	100%{-webkit-transform: translate3d(-50%,-50%,0) scale(0.5); transform: translate3d(-50%,-50%,0) scale(0.5); opacity:0.2}
}
.eleBlack{-webkit-animation: eleBlack 1s forwards;animation: eleBlack 1s forwards;}

.select-box{position: absolute; background-color:#000; width:100%;height:100%;left: 0;top: 0;overflow: hidden;z-index:10; display:none;}
.select-box .left-box{background: #000;width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.select-box .left-box .bg{background: #ffba03;position: absolute;left: 50%;width: 100%;top: 50%;margin-top: -40%;-webkit-transform: translate(-50%,-50%) rotate(90deg);transform: translate(-50%,-50%) rotate(90deg);}
.select-box .left-box .bg-img{ visibility:hidden;}
.select-box .left-box .bg-img1{position: absolute;top: 0;left: 0; z-index:10}
.select-box .left-box .txt{position: absolute;left: 50%;width: 30%;font-size: 14px;top: 50%;-webkit-transform: translate(-50%,-50%);}
.select-box .right-box{width: 100%;position: absolute;left: 0%;height: 100%;bottom: 0;}
.select-box .right-box .bg{position: absolute;left: 50%;width: 100%;margin-bottom: -150%;bottom: 50%;-webkit-transform: translate(-50%,-50%) rotate(90deg);transform: translate(-50%,-50%) rotate(90deg);}
.select-box .right-box .write-btn{position: absolute;width: 50%;left: 76%;top: 50%;margin-top: 45%;transform: translate(-50%,-50%) rotate(90deg);}
.select-box .right-box .again-look-btn{position: absolute;left: 22%;width: 50%;top: 50%;margin-top: 40%;transform: translate(-50%,-50%) rotate(90deg);}

.page-name{position: absolute; background-color:#72c5cb; width:100%;height:100%;left: 0;top: 0;overflow: hidden;z-index:9; display:none;}
.name-box{ background:#72c5cb}
.name-box h3{text-align:center;width:80%;position: absolute;left: 60%;font-size: 14px;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);}
.name-box .input-name{background:#fff;padding: 3px 0;border:2px solid #000;text-align:center;width: 70%;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);}
.name-box .input-name input{ border:none; width:100%; color:#000; text-align:center;font-size: 12px;}
.name-box .ok-btn{background:#ffc000;padding: 3px 0;border:2px solid #000;font-size: 12px;width: 80px;text-align:  center;position: absolute;left: 38%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);}

#reusltCanvas{ display:none}
.page-last{z-index:8;width:100%;height:100%;position:absolute;background-color:#000;display:none; overflow:hidden}
.page-last .bg{background: #000;position: absolute;left: 50%;width: 193%;top: 50%;-webkit-transform: translate(-50%,-50%) rotate(90deg);transform: translate(-50%,-50%) rotate(90deg);}
.page-last .btn {width: 26%;position:absolute;left: 12%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);z-index:5;}
.page-last .btn1{left: 18%;margin-top: 36%;}
.page-last .btn2{left: 8%;margin-top: 39.4%;}
.page-last .save-img{pointer-events:none;width: 26%;position:absolute;left: 50%;top: 50%;/*margin-top: 13%;*/transform: translate(-50%,-50%) rotate(90deg);-webkit-transform: translate(-50%,-50%) rotate(90deg);z-index:5;}
.mask{ position:fixed; left:0; width:100%; top:0; height:100%; background:#ffba03;/* background:rgba(0,0,0,0.8);*/ z-index:999;display:none;/**/}
.js-share-pop{position: fixed; top: 0px;background:rgba(0,0,0,0.8); height: 100%; width: 100%; z-index: 9999; display:none}
.js-share-pop img{position: absolute;width: 60%;left: 50%;top: 50%;transform: translate(-50%,-50%);}

.pop-tip{padding: 12px 30px; position: fixed; left:50%;top:50%;background:rgba(0,0,0,0.7);transform:translate3d(-50%,-50%,0) rotate(90deg);-webkit-transform:translate3d(-50%,-50%,0) rotate(90deg); border-radius: 3px; z-index: 10; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);z-index: 1000; display:none;color: #fff;}
@-webkit-keyframes handMove{
	0%,100%,20%,50%,80% {transition-timing-function: cubic-bezier(0.215,.61,.355,1); transform: translate3d(-50%,-46%,0) rotate(90deg);}
	40%,43%{transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);transform: translate3d(-42%,-48%,,0) rotate(90deg);}
	70%{transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);transform: translate3d(-54%,-42%,0) rotate(90deg);}
	90%{transform: translate3d(-48%,-46%,0) rotate(90deg);}
}
.handMove{-webkit-animation: handMove 1s infinite;animation: handMove 1s infinite;}
.handMove1{-webkit-animation: handMove 1.2s infinite 1s;animation: handMove 1.2s infinite 1s;}

.hand-left{position: absolute;height: 8%;left: 50%;margin-left: 0%;bottom: 0%;transform-origin: 50% 100%;animation: hand_left 1.5s infinite;-webkit-animation: hand_left 1.5s infinite;}
@-webkit-keyframes hand_left{
    0%{transform: scale(1) translate3d(0,0,0);}
    100%{transform: scale(1) translate3d(-2rem,0,0);opacity: 0;}
}
.hand-right{position: absolute;height: 8%;left: 50%;margin-left: 15%;bottom: 0%;transform-origin: 50% 100%;animation: hand_right 1.5s infinite;-webkit-animation: hand_right 1.5s infinite;}
.js-replay-btn{position: absolute;height: 100%; width: 100%;left: 0;top: 0;z-index:999;display:none;}
.js-replay-btn img{position: absolute;width: 26%;left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);}

@-webkit-keyframes hand_right{
    0%{transform: scale(1) translate3d(0,0,0);}
    100%{transform: scale(1) translate3d(2rem,0,0);opacity: 0;}
}
.screen-tip{ display:none;position: absolute; background-color:#ffba03; width:100%;height:100%;left: 0;top: 0;overflow: hidden;z-index:999;  }
.screen-tip img{position: absolute;width: 24%;left: 50%;top: 50%;transform: translate(-50%,-50%);}

/*@media screen and (orientation:portrait) {
  .screen-tip{ display:none}
  
} 
@media screen and (orientation:landscape) {
  .screen-tip{ display:block}
}*/