#swiper-container-v,#swiper-container1,#swiper-container2,#swiper-container3{width: 100%; height: 100%;max-width:640px;min-width:320px;margin:0 auto; overflow:hidden;}  
#swiper-container-v .swiper-slide,#swiper-container1 .swiper-slide,#swiper-container2 .swiper-slide,#swiper-container3 .swiper-slide{width:100%;height:100%;overflow:hidden;}

section{height: 100%;/*background: #de3641;*/}
.Hheight{position:relative;height: 100%;}
img{width:100%}
.bg{position:absolute;top:0;left:0;z-index: 0;}
.pa{position:absolute}
.fe{position: fixed; z-index:99}
a.downbtn{position:absolute;bottom:13%;width:5%;left:50%;margin-left:-2%;z-index: 1;-webkit-animation:toswitchAni 1.5s linear infinite;animation:toswitchAni 1.5s linear infinite;}
.star{position:absolute;top:0%;z-index:0;width:100%;height: 100%;}
.star1{position:absolute;top:8%;left:15%;-webkit-animation:star 1.5s infinite linear;animation:star 1.5s infinite linear;}
.star2{position:absolute;top:22%;left:4%;-webkit-animation:star 1.5s infinite linear 0.2s;animation:star 1.5s infinite linear 0.2s;}
.star3{position:absolute;top:15%;left:26%;-webkit-animation:star 1.5s infinite linear 0.25s;animation:star 1.5s infinite linear 0.25s;}
.star4{position:absolute;top:6%;left:50%;-webkit-animation:star 1.5s infinite linear 0.3s;animation:star 1.5s infinite linear 3s;}
.star5{position:absolute;top:12%;left:66%;-webkit-animation:star 1.5s infinite linear 0.35s;animation:star 1.5s infinite linear 0.35s; }
.star6{position:absolute;top:19%;right:15%;-webkit-animation:star 1.5s infinite linear 0.4s;animation:star 1.5s infinite linear 0.4s; }
.star7{position:absolute;top:5%;right:5%;-webkit-animation:star 1.5s infinite linear 0.45s;animation:star 1.5s infinite linear 0.45s;}
.star8{position:absolute;top:17%;right:1%;-webkit-animation:star 1.5s infinite linear 0.5s;animation:star 1.5s infinite linear 0.5s;}
.star1 img{width:60%}
.star2 img{width:30%}
.star3 img{width:40%}
.star4 img{width:35%}
.star5 img{width:35%}
.star6 img{width:35%}
.star7 img{width:35%}
.star8 img{width:35%}
.share_pic{position:absolute;top:15%;left:50%;width:80%;margin-left:-40%}
.shareBtn{background:none;width:55%;display:block;position:absolute;bottom:12%;margin-left:-27%;left:50%}
.share_wx{bottom:4%}
.fhindex_wb{bottom:20%;}
.index{bottom:18%;width:55%;margin-left:-27%}
.indexh4{position:absolute;bottom:6%;width:45%;left:50%;margin-left:-22%;z-index: 1;}
/*视频截图 数据*/
.bg_lt{position:absolute;top:0;left:0;width: 30%;z-index: 1;}
.bg_lr{position:absolute;top:0;right:0;width: 30%;z-index: 1;}
.bg_bl{position:absolute;bottom:0;left:0;width: 30%;z-index: 1;}
.bg_br{position:absolute;bottom:0;right:0;width: 28%;z-index: 1;}
.logo{width:30%;top:3%;left:4%;z-index: 1;}
a.sjbtn{position:absolute;bottom:7%;width:5%;left:50%;margin-left:-2%;z-index: 1;}
a.mubtn{position:absolute;bottom:5%;width:5%;left:50%;margin-left:-2%;z-index: 1;}
a.xxlbtn{position:absolute;bottom:5%;width:5%;left:50%;margin-left:-2%;z-index: 1;-webkit-animation:toswitchAni 1.5s linear infinite;animation:toswitchAni 1.5s linear infinite;}
.mulist a{width:48%;display:inline-block;margin-left:1%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor:pointer;}
.mulist a img{float:left;/*width:43%;*/}
.mulist a.mt0{margin:-13% 0 0 26%}
.mulist span{width:48%;display:inline-block;margin-left:1%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor:pointer;}
.mulist span img{float:left;/*width:43%;*/}
.mulist span.mt0{margin:-13% 0 0 26%}
.title{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.1s  forwards;animation:zoomIn1 0.2s ease-in-out  0.1s forwards;}
.title1{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.2s forwards;animation:zoomIn1 0.2s ease-in-out  0.2s forwards;}
.title2{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.3s forwards;animation:zoomIn1 0.2s ease-in-out  0.3s forwards;}
.title3{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.4s forwards;animation:zoomIn1 0.2s ease-in-out  0.4s forwards;}
.title4{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.5s forwards;animation:zoomIn1 0.2s ease-in-out  0.5s forwards;}
.title5{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.6s forwards;animation:zoomIn1 0.2s ease-in-out  0.6s forwards;}
.title6{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.7s forwards;animation:zoomIn1 0.2s ease-in-out  0.7s forwards;}
.title7{opacity:0;-webkit-animation:zoomIn1 0.2s ease-in-out  0.8s forwards;animation:zoomIn1 0.2s ease-in-out  0.8s forwards;}
.sj_title{width:76%;left:50%;margin-left:-38%;top:14%; position:absolute;}
/*.sj_title img{width:65%;}
.data h4.width60 img{width:60%}*/
.data h4.mt10{margin-top:10%;}
.data h4.mt10 img{width:55%;margin-left:-27%}
.overh{overflow:hidden}
.page2-2{ display:none;position:absolute;top:0;background: #2d3e50; z-index:5}
.menu1-1{position:absolute; width:100%; top:0; bottom:0;}
.menu1-box{position:absolute; top:54px; right:0; bottom:0;/* overflow-y:auto;*/}
.menu1-2{display:none;position:absolute;top:0;background: #2d3e50;}

.menu2-box{position:absolute; top:30px; right:0; bottom:0;/*overflow-y:auto;*/}
.menu2-2{display:none;position:absolute; width:100%; top:0; bottom:0;}
.menu2-3{display:none;}
.menu2-4{display:none;position:absolute; width:100%; top:0; bottom:0;}

.menu3-box{position:absolute; top:0px; right:0; bottom:0;/*overflow-y:auto;*/ display:none}
.menu3-2{display:none;}

.sjlist{width:84%;margin:46% 0 0 12%}
.datalist{float:left;width:42%;}
.ml11{margin-right:11%;}
.mt0{margin-top:7%;}
.mt11{margin-bottom:7%;}
.mulist{width:78%;margin:49% 0 0 12%; position:relative; z-index:2}

.sjrtext{right:3%;bottom:3%;z-index:3;width:30%}
.toswitchAni_sj{-webkit-animation:toswitchAni_sj 1.5s linear infinite 1s;animation:toswitchAni_sj 1.5s linear infinite 1s;opacity: 1;}
@-webkit-keyframes toswitchAni_sj {
	0% {bottom:8%}
	50% {bottom:4%}
	75% {bottom:5%}
	100% {bottom:8%}
}
@keyframes toswitchAni_sj {
	0% {bottom:8%}
	50% {bottom:4%}
	75% {bottom:5%}
	100% {bottom:8%}
}
@-webkit-keyframes zoomIn1 {
    0% {
        opacity:0;
        -webkit-transform:scale(.3, .3);
        transform:scale(.3, .3);
    }
	100% {
        opacity:1;
    }
}
@keyframes zoomIn1 {
    0% {
        opacity:0;
        -webkit-transform:scale(.3, .3);
        transform:scale(.3, .3)
    }
    100% {
        opacity:1;
    }
}
h4.footertext2{width:100%;position:absolute; top:130vw;}
h4.footertext2 img{width: 54%;margin:3% auto 0 auto}

.indexTbg{top:0;/*z-index: 1;*/height:54px}
.indexBbg{bottom:0;/*z-index: 1;*/}
.indexcon{/*padding-top:8%;padding-bottom:10%;*/ position:relative;}
.mt0{margin-top:0}
/*.piccon{margin-top:9.5%;background: #f0f0f0;}
.rmvideo{position:absolute;left:4%;right:5%;border:1px solid red;bottom:21.2%}
.ggvideo{position:absolute;left:4%;right:5%;border:1px solid red;top:41.8%}
.papi{position:absolute;border:1px solid red;top:4%;width:100%;background: #000;}
.papi2{position:absolute;border:1px solid red;top:32%;width:100%;}
.papi3{position:absolute;border:1px solid red;top:57%;width:100%;background: #000;padding-bottom:1%;}*/
/*.spcon{height:100%;position:relative}*/
@-webkit-keyframes star{
	0% {opacity:0;transform:scale(1);-webkit-transform:scale(1)}
	50% {opacity:1;transform:scale(1.5);-webkit-transform:scale(1.5)}
	100% {opacity:0;transform:scale(1);-webkit-transform:scale(1)}
}
@keyframes star{
	0% {opacity:0;transform:scale(1);-webkit-transform:scale(1)}
	50% {opacity:1;transform:scale(1.5);-webkit-transform:scale(1.5)}
	100% {opacity:0;transform:scale(1);-webkit-transform:scale(1)}
}
@-webkit-keyframes toswitchAni {
	0% {bottom: 13%}
	50% {bottom:10%}
	75% {bottom:11%}
	100% {bottom:13%}
}
@keyframes toswitchAni {
	0% {bottom: 13%}
	50% {bottom:10%}
	75% {bottom:11%}
	100% {bottom:13%}
}

.star11{top:35%;width:4%}
.star44{top:31%;left:40%}
.star55{top:35%;left:51%;width:4%}
.star66{top:33%;right:10%}
.star22{top:63%;left:20%}
.star23{top:73%;left:24%;width:5%}
.star24{top:72%;left:12%}
.star77{top:75%;right:8%;width:4%}
.star88{top:65%;right:15%;width:8%}
.star78{top:60%;right:8%;width:4%}
.star89{top:82%;right:25%}
/*首页信息流*/
.mzvideo{ position:absolute; bottom: 22.3%;left: 4%; right:4%;}
.mzvideotips{position:absolute;bottom:32.5%;left:3.1%;right:3%;font-size: 14px;background: #5d9cd3;color:#fff;padding:3% 0;text-align:center}
.over{ overflow:hidden}
.xxl{ text-align:center;}
.xxl_title{width:70%;margin:22% auto 7% auto; text-align:center;z-index:1;position:relative}
.xxl h5{width:75%;margin:0 auto 5% auto}
.sj_title2{margin-top:12%;width:30%}
.mzlist{margin-top:53%}
.mzdownbtn{background:none;width:45%;display:block;position:absolute;bottom:4%;left:50%;margin-left:-22%; z-index:3}
.rmtips{bottom:39.1%;left:3.2%}
.ggtips{position:absolute;top:4%;font-size: 16px;width:100%;background: #5d9cd3;color:#fff;padding:3% 0;text-align:center;height:30px;line-height:30px}
.star_xx1{top:43%;left:12%}
.star_xx11{top:21%;left: 72%;width:3%}
.star_xx2{top:35%;left:28%}
.star_xx22{top:46%;left:30%;width:4%;}
.star_xx3{top:57%;left:18%}
.star_xx4{top:69%;left:10%}
.star_xx5{top:35%;left:90%}
.star_xx6{top:55%;right:14%;width:5%}
.star_xx7{top:64%;right:4%;width:8%}
.star_xx8{top:77%;right:5%;}
.star_xx9{top:87%;right:17%;}
/*热门微博信息流 视频产品*/
.rmtext{background: #f0f0f0;position:absolute;bottom:9%;width:100%;}
.rmtitle{top:0;position:fixed;}
.zmbtn{background:none;width:40%;margin:2% auto 0 auto;position:static;display:block;}
.mt0{margin-top:0;padding-top:0}
.mt9{margin-top:8%}
.spcon span>img{ width:100%;}
.mt175{margin-top:17.5%}
.papi{top:12.8%;display:block;width:100%;left:50%;margin-left:-50%; background:#000;padding-bottom:1%}
.papi2{top:20%;display:block;width:100%;left:50%;margin-left:-50%; background:#000;padding-bottom:1%;}
.papi3{top:30%;display:block;width:100%;left:50%;margin-left:-50%; background:#000;padding-bottom:1%;}

.hand{position:absolute;right:34%;z-index:3;bottom:42%; opacity:0;}
.click-hand{-webkit-animation:hand 1s linear forwards; animation:hand 1s linear forwards;}
.hand2{position:absolute;top:44%;right:70%; opacity:0;}
.hand2 img{width:50%}
.hand img{width:50%}
.mt0{margin-top:0}
.rmvideo{position:absolute;left:3.5%; right:3%;bottom:28.3%}
.ggvideo{position:absolute;left:3.9%; right:3%;top:49.8%}
.papi{position:absolute;top:5%;width:100%;background: #000;}
.papi2{position:absolute;top:35.5%;width:100%;}
.papi3{position:absolute;top:63.3%;width:100%;background: #000;padding-bottom:1%;}




@-webkit-keyframes hand{
	0%{-webkit-transform:translate(-800%,-10000%); opacity:0;}
	100%{-webkit-transform:translate(100%);opacity:1;}
}
@keyframes hand{
	0%{-webkit-transform:translate(-800%,-10000%);opacity:0;}
	100%{-webkit-transform:translate(100%);opacity:1;}
}
.mt0{margin-top:0}
.mt50{margin-top:47%}



.page2-img1{ position:absolute; width:60%;left:20%; top:30%; z-index:1; opacity:0;}
.page2-img2{ position:absolute;opacity:0;width:31%; left:9%; top:22%;}
.page2-img3{ position:absolute;opacity:0;width:50%;right:3%; top:12%;}
.page2-img4{ position:absolute;opacity:0;width:45%;left:5%; top:50%;}
.page2-img5{ position:absolute;opacity:0;width:28%;right:9%; top:55%;}

.scaleFadeIn{-webkit-animation-name: scaleFadeIn; animation-name: scaleFadeIn; -webkit-animation-fill-mode: forwards;}
.scaleFadeInOut{-webkit-animation-name: scaleFadeInOut; animation-name: scaleFadeInOut; -webkit-animation-fill-mode: forwards}

@-webkit-keyframes scaleFadeIn{
	0%{-webkit-transform: scale(0.3,0.3); opacity:0;-webkit-filter: blur(3px); }
	100%{-webkit-transform: scale(1,1);opacity:1;-webkit-filter: blur(0); }
}
@keyframes scaleFadeIn{
	0%{transform: scale(0.3,0.3); opacity:0;filter: blur(3px); }
	100%{transform: scale(1,1);opacity:1;filter: blur(0); }
}
/*
@-webkit-keyframes scaleFadeInOut{
	0%{-webkit-transform: scale(0.3,0.3); opacity:0;-webkit-filter: blur(3px); filter: blur(3px);}
	50%{-webkit-transform: scale(2,2);opacity:1;-webkit-filter: blur(0); filter: blur(0px);}
	100%{-webkit-transform: scale(1,1);opacity:0.6;-webkit-filter: blur(5px);filter: blur(5px); }
}
@keyframes scaleFadeInOut{
	0%{transform: scale(0.3,0.3); opacity:0;-webkit-filter: blur(3px);filter: blur(3px); }
	50%{-webkit-transform: scale(2,2);opacity:1;-webkit-filter: blur(0);filter: blur(0); }
	100%{transform: scale(1,1);opacity:0.6;-webkit-filter: blur(5px);filter: blur(5px); }
}*/

@-webkit-keyframes scaleInOut{
	0%{-webkit-transform: scale(0.97,0.97);}
	50%{-webkit-transform: scale(1.02,1.02);}
	100%{transform: scale(1,1);}
}
@keyframes scaleInOut{
	0%{-webkit-transform: scale(0.97,0.97);}
	50%{-webkit-transform: scale(1.02,1.02);}
	100%{transform: scale(1,1);}
}


@-webkit-keyframes scaleFadeInOut{
	0%{-webkit-transform: scale(0.3,0.3); opacity:0;-webkit-filter: blur(3px); filter: blur(3px);}
	30%{-webkit-transform: scale(2,2);opacity:1;-webkit-filter: blur(0); filter: blur(0px);}
	100%{-webkit-transform: scale(1,1);opacity:0.6;-webkit-filter: blur(5px);filter: blur(5px); }
}
@keyframes scaleFadeInOut{
	0%{transform: scale(0.3,0.3); opacity:0;-webkit-filter: blur(3px);filter: blur(3px); }
	30%{-webkit-transform: scale(2,2);opacity:1;-webkit-filter: blur(0);filter: blur(0); }
	100%{transform: scale(1,1);opacity:0.6;-webkit-filter: blur(5px);filter: blur(5px); }
}




.scaleInOut{-webkit-animation:scaleInOut 0.5s linear 2;animation:scaleInOut 0.5s linear 2;}



.mask{position:fixed; bottom:0; z-index:99; width:100%; height:50vh; background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))); padding:0 10px; box-sizing:border-box;}
.mzvideo_pic{ position:absolute; bottom: 11.3%;left: 4%; right:4%;z-index: 5;}
.sherabg{background:url(../images/share_bg.png) no-repeat center center; background-size:cover;height:100%;position: relative;z-index: 999;}
.pcbg{background: url(../images/pcbg.png) no-repeat center center;width:100%;height:100%}