body{ background:url(../img/pc_bg3.png?1) #fafafa no-repeat center top;font-family:"Microsoft Yahei"; }

.container{ position:relative;width:1050px; margin:0 auto}
.bottom-img{ position:fixed; bottom:-13px; width:100%; max-width:1920px; z-index:11;}
.box{ position:relative; z-index:10}
.m-bg{ position:absolute; z-index:1; width:100%; top:-150px}
.user-info{position:absolute; z-index:10; width:294px; right:-165px; font-size:12px}
.user-info img{  display:block; vertical-align:top}
.user-info p{ font-size:15px; text-align:right; margin-top:3px; padding-right:10px}
.title{ position:relative; z-index:10; width:656px; margin:0 auto; padding:4% 0;}
.content {width: 624px; height:337px; padding-top:30px; margin: 0 auto; background:url(../img/m_bg3.png) no-repeat;background-size:100% auto; position:relative; z-index:10}
.line { width: 100%; overflow:hidden; }
.machine-box{clear:both; width:550px; height:251px; margin:0 auto; background:url(../img/m_bg4.png?1) no-repeat;background-size:100% auto; padding:3px; position:relative}
.machine-box .left-icon{ position:absolute; width:46px; left:-4px;top:50%; margin-top:-23px;}
.machine-box .right-icon{position:absolute; width:46px; right:-3px; top:50%;margin-top:-23px;}
#textMachine, #textMachine2 { width: 520px; height: 67px; overflow: hidden; display: inline-block; text-align: center; }
.slotMachineButton { width: 60px; height: 60px; overflow: hidden; line-height: 60px;margin-left: 118px; margin-top:107px; position: absolute;}
.slotMachine { width: 172px; height: 241px; padding:2px 2px 2px 4px;overflow: hidden; display: inline-block; text-align: center; margin-right:2px; margin-top:6px;}
.noBorder { border: none; background: transparent; }
.slotMachine .slot { width: 172px; height: 241px;  border-radius:5px; background-position:center center; background-repeat:no-repeat }
.slot1 { background-image: url(../img/img1.png?1); }
.slot2 { background-image: url(../img/img2.png?1); }
.slot3 { background-image: url(../img/img3.png?1); }
.slot4 { background-image: url(../img/img4.png?1); }
.slot5 { background-image: url(../img/img5.png?1); }
.slot6 { background-image: url(../img/img6.png?1); }
.slot7 { background-image: url(../img/img7.png?1); }
.slot8 { background-image: url(../img/img8.png?1); }
/*svg{ display:none}*/
.click-btn{ width:292px; float:right}
.times{ text-align:center; line-height:36px; font-size:24px; margin-bottom:5px}
.win-box{width:460px; clear:both; padding-top:10px; margin:0 auto; position:relative; z-index:10; visibility:hidden}
.win-box.visible{ visibility:visible}
.win-box.hidden{ visibility:hidden}
.win-box .win-img{ float:left; width:110px; margin-right:10px; padding-top:20px; margin-left:60px;}
.win-box .win-img img{ width:110px;}
.win-box .win-txt{ float:left; width:54%; border-left:1px solid #000; padding-left:20px; margin-top:5%;}
.win-box .win-txt h3{ font-size:44px; line-height:50px; white-space:nowrap}
.win-box .win-txt p{ font-size:26px; line-height:26px; margin-top:5px;white-space:nowrap}
.win-box .no-win-txt{margin-top:10px; text-align:center; padding:0 10px; overflow:hidden;}
.win-box .no-win-txt h3{ font-size:44px; line-height:50px; white-space:nowrap}
.win-box .no-win-txt a{ display:block;font-size:26px; line-height:26px; margin-top:10px;white-space:nowrap}
.win-box .no-win-txt a i{ display:inline-block; margin-left:5px;}

.list{position:absolute;width:110px; z-index:10; top:174px; height:342px}
.list .line1{position:absolute;width:110px; top:-12px;}
.list .line2{position:absolute;width:110px; bottom:0}
.win-list{position:absolute;width:110px; height:321px; overflow:hidden; z-index:10; top:10px}
.win-list .swiper-wrapper{width:110px;}
.win-list .swiper-slide{width:100%; position:relative;}
.win-list .swiper-slide span{ display:block;background:#fff; border-radius:5px;}
.win-list .swiper-slide em{ display:block; font-size:14px; white-space:nowrap; text-align:center; padding:5px 0 10px}

.list1{ left:90px;}
.list2{right:90px}


.other-box{width: 600px; margin: 0 auto; position:relative; z-index:10}
.ewm-box{width:300px; float:left; position:relative;}
.ewm{ display:none; width:150px; position:absolute; left:24px;top:-6px; z-index:12}

#popup_container{ width:280px;height:176px;background:url(../img/pop-bg.png) no-repeat; background-size:100%;}
#popup_content{text-align: center; padding-top:46px; }
#popup_message p{color:#000;font-size:14px; font-weight:bold; line-height:22px; height:48px;}
#popup_panel{margin:35px auto 15px; height:28px;}
#popup_content button{background:url(../img/pop-btn.png) no-repeat; background-size:100%; width: 114px; height: 30px;font-size:0;border: none; }

.sroll-text{margin:0 20px 20px;width:270px;border-bottom: 2px solid #777;overflow: hidden;position:absolute;top: 618px;right:-200px;z-index:100;}
.sroll-text h3{font-size:24px;border-bottom: 2px solid #777;margin:0 10px;padding:5px 0;color:#555;font-weight: normal;}
.sroll-text > div{margin:5px 10px;height: 168px;overflow: hidden;}
.lottery_list{height:168px; overflow:hidden;}
.lottery_list li{position:relative; line-height:28px; color:#707070;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;}
.lottery_list li span{ display:inline-block; margin-right:10px;}
.lottery_list li span:first-child{ width:80px; overflow:hidden;}

.mask{ position:fixed; left:0; width:100%; top:0; height:100%; background:#fff; background:rgba(255,255,255,0.8); opacity:0.8; z-index:999;display:none;}
.info-pop-box{position:fixed; width:869px; height:433px; padding:35px; background:url(../img/pop_bg.png) no-repeat center bottom; left:50%;top:50%; margin-top:-250px; margin-left:-500px; z-index:1001;display:none;}
.info-pop-box h3{ color:#fed007; font-size:34px; text-align:center; line-height:40px;font-weight: normal;margin-bottom:10px; position:relative;}
.info-pop-box h3 span{ display:inline-block; margin:0 30px;}
.news-context-box{height:350px; overflow-y:auto; color:#555; line-height:24px;}
.news-context-box img{ margin:10px 0; display:block; text-align:center; margin:0 auto;}
.info-pop-box .close-btn{ width:36px; height:36px; position:absolute; right:10px; top:10px;z-index:1001;}
.info-pop-box .title{color:#b82a42; font-size:22px;}

.pop-box{position:fixed; width:280px; height:100px; padding:30px 0 0; background:#fff; left:50%;top:50%; margin-top:-50px; margin-left:-50px; z-index:1001;border-radius:15px; overflow:hidden; display:none;}
.popp-msg{ text-align:center; line-height:20px;}
.pop-submit-btn{ position:absolute; bottom:0; width:100%;font-size:14px; display:block; background:#fed007; line-height:40px; color:#000;  text-align:center;}


.form-box{ padding:2% 0% 0%;width:50%; margin:0 auto;}
.form-box .form-group{position:relative;width:100%; padding:15px 0;}
.form-box .form-group>label{display:block;padding: 13px 0;width:36px;position:absolute;left: -46px;}
.form-box .form-group .form-control {display: block;width: 100%;padding:10px;font-size: 14px;line-height: 24px;height: 36px;color: #fff;background-color:transparent;border:2px solid #fff;border-radius:8px;}
.form-box .form-group .form-control::-webkit-input-placeholder {color:#fed007; font-size:20px; text-align:center;}
.form-box .form-group .form-control::-moz-placeholder { color:#fed007;font-size:20px; text-align:center;}
.form-box .form-group .form-control:-ms-input-placeholder {color:#fed007;font-size:20px; text-align:center;}
.form-box .error_tip>label{display:block;font-size:12px;color:#f00;}
.form-box .btn{width:100%; display:block;padding:0 10px; margin:3% auto 10%; font-size:28px; background:#fed007; line-height:60px; color:#000; border-radius:8px; text-align:center;}


.pop-tip-box { position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); z-index:1001;background: rgba(0,0,0,.5); color: #fff; width: 220px ;border-radius: 0.3em; box-shadow: 0 0.1em 5px rgba(0, 0, 0, 0.4);text-align:center; display:none;}
.pop-tip-box .pop-tip-msg { font-size: 18px; padding: 30px; line-height:20px; }



/*!
 * jQuery Slot Machine v3.0.1
 * https:// github.com/josex2r/jQuery-SlotMachine
 *
 * Copyright 2014 Jose Luis Represa
 * Released under the MIT license
 */
.slotMachineNoTransition {
    -webkit-transition: none !important;
            transition: none !important;
}

.slotMachineBlurFast {
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

.slotMachineBlurMedium {
    -webkit-filter: blur(3px);
            filter: blur(3px);
}

.slotMachineBlurSlow {
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.slotMachineBlurTurtle {
    -webkit-filter: blur(1px);
            filter: blur(1px);
}

.slotMachineGradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)) );
    -webkit-mask: url("data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask");
            mask: url("data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask");
}
