/*用户中心首页*/
.member_box { width: 100%; }
.member_box>header { background:#fff; padding: 15px 20px; height: 62px;border-bottom: 1px solid #e8e8e8; }
.member_box>header img { float: left; width: 60px; height: 60px; border: 1px solid #e5e5e5; border-radius:0px; margin-right: 15px; }
.member_box>header h5 { font-size: 14px; color: #2d2d2d; line-height: 24px; font-weight: normal; margin-top:8px;}
.member_box>header p { color: #888; line-height: 24px; font-size:12px }
.member_box>header p i { display: inline-block; width: 20px; height: 20px; vertical-align: middle; background-repeat: no-repeat; background-position: 0 0; background-size: 16px; }
.member_box>header p i.normal { background-image: url(../../images/member/user_normal.png); }
.member_box>header p i.gold { background-image: url(../../images/member/user_gold.png); }
.member_box>header p i.platinum { background-image: url(../../images/member/user_platinum.png); }
.member_box>header p i.diamond { background-image: url(../../images/member/user_diamond.png); }
.member_box>nav { width: 100%; box-sizing: border-box; display: -webkit-box; padding: 12px 0; border-bottom: 1px solid #e8e8e8; background-color: #f7f7f7; }
.member_box>nav a { display: block; -webkit-box-flex: 1; font-size: 12px; color: #666; text-align: center; position: relative; border-right: 1px solid #e8e8e8; }
.member_box>nav a:last-child { border-right: none; }
.member_box>nav a i { display: block; width:30px; height:30px; margin:0 auto; padding-bottom:5px; /*padding: 0 28px 10px;*/ }
.member_box>nav a b { position: absolute; left:50%; margin-left:5px; top: -5px; width: 16px; height: 16px; line-height: 16px; overflow: hidden; background: #fff; border: 1px solid #c81d1e; border-radius:50%; color: #c81d1e; font-size: 12px; font-weight: normal;}
.member_box .menu { width: 100%; background-color: #f7f7f7; padding-bottom: 10px; }
.menu li { width: 100%; background:#fff;border-bottom: 1px solid #e8e8e8; }
.menu li.line { margin-top: 10px; border-top: 1px solid #e8e8e8; }
.menu li a {display: block; height: 44px; line-height: 44px; font-size: 13px; color: #666; padding-left: 10px; position:relative; }
.menu li a i{ width:20px; display:block; float:left;  margin-top:12px; margin-right:10px;}
.menu li a em{ position:absolute; right:15px; top:11px; line-height:20px; font-size:20px; color:#999; font-weight:normal;}
.menu li a em.look-order-txt{ top:10px; font-size:13px; color:#656565; }
.menu li a em.look-order-txt b{ display:inline-block;font-size:20px; color:#999; margin-left:10px; vertical-align:-2px;}
.menu li a em.phone{ font-size:13px; color:#666;}


/*tab-content*/
.tab-content .content-list { background: #fff;overflow: hidden; }
.tab-content .content-list article p { color: #555; line-height: 150%; padding-bottom: 10px; }
.tab-content .content-list article h3 { font-size: 14px; line-height: 150%; font-weight: normal; }

/*意见反馈*/
.feedback-box{ padding:10px;}
.feedback-box h3{font-size:15px; font-weight:normal; color:#444; line-height:22px; margin-bottom:10px;}
.feedback-box .ques-box{ margin-bottom:10px;}
.feedback-box .ques-box label{ display:block; color:#3f3f3f; font-size:14px; line-height:14px; padding-left:2px; padding-top:5px;}
.feedback-box .ques-list li{ background:#fff; display:inline-block; padding:0 15px; border:1px solid #e5e5e5; color:#888; border-radius:2px; line-height:28px; margin:10px 5px 0 0;font-size:13px;}
.feedback-box .ques-list li.cur{border:1px solid #c62026;color:#c62026;}
.feedback-box .ques-box .textarea{width:100%;min-height:180px; padding:10px; box-sizing:border-box; margin-top:10px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-appearance: none;outline: none; resize:none;font-size: 13px;}
.feedback-box .btn{ margin:20px 0;}
.feedback-box .btn a{ display:block; width:48%; float:left;box-sizing: border-box; text-align: center; font-size: 14px; border: 1px solid #fff;color: #fff;line-height: 38px;background:#71bc3d;}
.feedback-box .btn a:nth-child(2) { float: right; background:#fff;color: #666;border: 1px solid #e5e5e5; }

.footer-back-btn{ position:fixed; bottom:0; width:100%; max-width:640px; display:block; background:#fff;border-top:1px solid #d8d8d8; color:#777;font-size:13px; line-height:20px;padding:10px 0; text-align:center; z-index:4}


/*my-order*/
.tab-content.tab-my-order .content-list { background:none;}
.order-item {background: #fff; overflow: hidden;padding: 14px 0 0px 0;margin-top: 10px;  border-top: 1px solid #e0e0e0;}
.order-item .imt {font-size: 13px;padding: 0 10px 14px; position:relative;}
.order-item .imt .i-icon{width: 14px;height: 12px;display: inline-block;margin-right: 6px;vertical-align: top;float: left;}
.order-item .imt .i-info {font-size: 13px;color: #c62026; float: right;}
.order-item .imt .shop-a {display: block;width: 200px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color:#000;}
.order-item .imt .i-complete {width: 15px;height: 15px;display: block;float: right;/*background: url(../../images/delete_icon.png) no-repeat;background-size: 15px 15px;*/}
.order-item .imt .signet {z-index: 2;position: absolute;right: 20px;top: 50%;margin-top: -16px;width: 64px;height: 64px;}

.order-item .imc { padding:15px 10px;border-top: 1px solid #e0e0e0;}
.order-item .imc-one {overflow: hidden;padding-right: 20px;}
.order-item .imc-one .imco-l {width: 60px;float: left;margin-right: 20px;}
.order-item .imc-one .imco-r {width: 100%;font-size: 13px;padding-bottom: 3px;line-height: 15px; color:#000;}
.order-item .imc-one .imco-r-content {float: left;width: 68%;overflow: hidden;display: -webkit-box;-webkit-box-align: center;height: 60px;}  
.order-item .imc .swiper-container.my-order-swiper .swiper-slide { width:60px;}

.order-item .imb {font-size: 13px;padding: 0px 0 0 10px; height: 46px;line-height: 46px;border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;}
.order-item .imb .true-payed {display: block;float: left;}
.order-item .imb-num {font-size: 15px;display: block;float: left;margin-left: 4px;}
.order-item .imb-btn-box {float: right;color: #f24b48;margin-right: 10px;margin-top: 10px;width: 66px;height: 26px;display: block;}
.order-item .imb-btn {border: 1px solid #f24b48;color: #f24b48;border-radius: 3px;width: 67px;text-align: center;height: 27px;line-height:27px;display: block;font-size: 13px;}
.order-item .imb-green-btn{border: 1px solid #71bc3d;color: #71bc3d;}
.order-item-box{margin:-8px 10px 10px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;}

/*商品评价*/
.evaluate-prod .prod-list{ border:1px solid #e5e5e5;}
.evaluate-box{ background:#fff; border:1px solid #e5e5e5; padding:10px;}
.evaluate-box span {font-size: 14px;line-height: 24px; display:block; float:left; margin-right:5px; margin-left:3px; color:#888}

/*订单评价*/
.evaluate-order{ margin-bottom:10px;}
.evaluate-order .prod-list{ border:1px solid #e5e5e5;}
.comment_action { position: relative; padding: 10px }
.comment_action .title { height: 40px; line-height: 40px; font-size: 16px; color: #333; display: block; font-weight:normal;}
.comment_action .tips { margin: -10px 0 10px 0; font-size: 10px; color: #999 }
.comment_action .tips em { color: #e4393c }
.comment_action .btn_small {background: #71bc3d; display: block; width: 120px; line-height: 36px;color: #fff; text-align: center; font-size: 14px; margin:40px auto 20px; }
.comment_action .btn{ margin:40px 0 20px;}
.comment_action .btn a{ display:block; width:48%; float:left;box-sizing: border-box; text-align: center; font-size: 14px; border: 1px solid #fff;color: #fff;line-height: 38px;background:#71bc3d;}
.comment_action .btn a:nth-child(2) { float: right; background:#fff;color: #666;border: 1px solid #e5e5e5; }
.comment_action .stars_list { position: relative }
.comment_action .stars_list:before { border-color: #ddd }
.stars_list { font-size: 13px; color: #777; padding: 5px 0 }
.stars_list li { position: relative; margin-top: 10px; }
.stars_list span {font-size: 14px;line-height: 24px; display:block; float:left; margin-right:20px;}
.star-box{height:20px;width:180px; display:inline-block;}
.star-box>i{float:left;width:20%;height:20px;background:url(../../images/star.png) 0 -20px no-repeat;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.star-box>i.cur{background:url(../../images/star.png) 0 0 no-repeat;}

/*售后*/
.explain-content{ padding:0 15px; }
.explain-content h2{ text-align:center; padding:30px 0 10px; font-size:17px;}
.explain-content h3{font-size:13px; margin-top:15px;color:#444}
.explain-content p{ margin-top:12px; font-size:12px; line-height:16px;color:#777}


.brand-box{ padding-top:10px;}
.one-list{ margin:0 10px 10px; position:relative;}
.one-list a{ display:block; border:1px solid #e5e5e5;}
.one-list .add-btn{ position:absolute; width:22px; height:22px; padding:9px; text-align:center; border-radius:50%; right:10px; bottom:10px; background:rgba(255,255,255,.9)}
